@(param:Unit)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oleksandr Shtykhno Personal Page">
    <meta name="author" content="Oleksandr Shtykhno">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Oleksandr Shtykhno - vCard</title>

    <!-- Bootstrap core CSS -->
    <link href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))' rel="stylesheet">
    <link href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="container">
    	<div class="col-lg-8 col-lg-offset-2">
    	
    		<!-- ===== vCard Navigation ===== -->
    		<div class="row w">
    			<div class="col-md-4">
    				<img class="img-responsive" src="assets/img/avatar.jpg" alt="">
					<ul class="nav nav-tabs nav-stacked" id="myTab">
					  <li class="active"><a href="#about">About</a></li>
					  <li><a href="#profile">Profile</a></li>
					  <li><a href="#portfolio">Portfolio</a></li>
					  <li><a href="#contact">Contact</a></li>
					</ul>    			
				</div><!-- col-md-4 -->

    		<!-- ===== vCard Content ===== -->
    			<div class="col-md-8">
	    			<div class="tab-content">
	    			
	    			  <!-- ===== First Tab ===== -->
					  <div class="tab-pane active" id="about">
					  	<h3>Oleksandr Shtykhno</h3>
					  	<h5>Software Developer</h5>
					  	<hr>
					  	<p>I am software engineer with more than 10 years of experience specializing in Java, Scala, Web and iOS development</p>
						  <p class="sm">
							  <grey><a href="http://github.com/Yyukan">GitHub profile</a></grey><br/>
							  <grey><a href="http://www.codeeval.com/profile/Yyukan">CodeEval profile</a></grey><br/>
						  </p>
						  <p class="sm">
							  <grey><a href="/assets/CV_Oleksandr_Shtykhno.pdf">My Resume</a></grey><br/>
						  </p>
					  </div><!-- tab about -->
					  
	    			  <!-- ===== Second Tab ===== -->
					  <div class="tab-pane" id="profile">
					  	<h4> Job Experience</h4>
					  	<p class="sm">
					  		<grey>AssetControl</grey> | Sr. Software Engineer, September 2010 - Actual<br/>
					  		<grey>Other</grey> | November 2003 - September 2013<br/>
					  	</p>
					  
						  <h4> Education</h4>
					  	<p class="sm">
					  		<grey>Specialist's degree, Computer Science</grey> | National Technical University of Ukraine 'Kharkov Polytechnic Institute'<br/>
					  	</p>
					  	
						  <h4> Certificates</h4>
					  	<p class="sm">
							<grey>Sun Certified Java Programmer</grey> | 2006 <br/>
							<grey>Sun Certified Web Component Developer</grey>  | 2006 <br/>
							<grey>Sun Certified Business Component Developer</grey> | 2007 <br/>
							<grey>Oracle Certified Enterprise Architect (step 1)</grey> | 2011 <br/>
							<grey>Google Advanced Power Searching</grey> | 2013 <br/>
							<grey>Algorithms</grey> | coursera.org, 2013 <br />
							<grey>Functional Programming Principles in Scala</grey> | coursera.org, 2013 <br/>
							<grey>Principles of Reactive Programming</grey> | coursera.org, 2013 <br/>
							<grey>Play for Java Dev</grey> | typesafe.com, 2013 <br/>
							<grey>Shaping up with Angular JS</grey> | codeschool.com, 2014 <br/>
					  	</p>
					  </div><!-- Tab Profile -->
					  
	    			  <!-- ===== Third Tab ===== -->
					  <div class="tab-pane" id="portfolio">
						  <div class="row">
							  <div class="col-xs-6 centered">
							  	<img class="img-responsive" src="assets/img/p01.png" alt="">
							  	<a href="#"><h6><i class="icon-link"></i> Project Name</h6></a>
							  </div><!-- col-xs-6 -->
							  <div class="col-xs-6 centered">
							  	<img class="img-responsive" src="assets/img/p02.png" alt="">
							  	<a href="#"><h6><i class="icon-link"></i> Project Name</h6></a>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
						  
						  <div class="row">
						  	<br>	
							  <div class="col-xs-6 centered">
							  	<img class="img-responsive" src="assets/img/p03.png" alt="">
							  	<a href="#"><h6><i class="icon-link"></i> Project Name</h6></a>
							  </div><!-- col-xs-6 -->
							  <div class="col-xs-6 centered">
							  	<img class="img-responsive" src="assets/img/p04.png" alt="">
							  	<a href="#"><h6><i class="icon-link"></i> Project Name</h6></a>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
					  </div><!-- /Tab Portfolio -->
					  
	    			  <!-- ===== Fourth Tab ===== -->
					  <div class="tab-pane" id="contact">
						  <h4>Contact Information</h4>
						  <hr>
						  <div class="row">
							  <div class="col-xs-6">
								  <p class="sm">
 									<i class="fa fa-envelope"></i> - <a href="mailto:oleksandr.shtykhno@@gmail.com">oleksandr.shtykhno@@gmail.com</a>
								  </p>
							  </div><!-- col-xs-6 -->
							  
							  <div class="col-xs-6">
								  <p class="sm">
									<!--
								  	<i class="fa fa-phone"></i> - +31 111 11 111 <br/>
									<i class="fa fa-apple"></i> - 111 222 333
									-->
								  </p>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
						  
						  <h4>Social Links</h4>
						  <hr>
						  <div class="row">
							  <div class="col-xs-6">
								  <p class="sm">
									<a href="http://google.com/+OleksandrShtykhno"><i class="fa fa-google-plus"></i></a><br/>
									<a href="https://nl.linkedin.com/in/yukan"><i class="fa fa-linkedin"></i></a>
								  </p>
							  </div><!-- col-xs-6 -->
							  
							  <div class="col-xs-6">
								  <p class="sm">
									<i class="fa fa-twitter"></i> - @@yyyukan
								  </p>
							  </div><!-- col-xs-6 -->
						  </div><!-- row -->
					  </div><!-- Tab Contact -->
					  
					</div><!-- Tab Content -->
    			</div><!-- col-md-8 -->
    		</div><!-- row w -->
    	</div><!-- col-lg-6 -->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
	<script>
	$('#myTab a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})	
	</script>    
    
  </body>
</html>
